* 
    {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
        font-weight: bold;

    }


body {

    margin: 0; 
    background-color: #e8ebf1;  

  }

.flex-container 
  {         
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      flex-grow: 1;      
  }


header 
  {
    width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: row;
    height: 100px;
    align-items: center;    
  }

.logo
    {

        flex-grow: 1;
        text-align: left;
      
    }

.menu
    {
    

        text-align: right;
        justify-content: flex-end;

      
    }


.menu_flex
     {
        display: flex;
        justify-content: flex-end;
        border: black; 
       
     }
.menu_flex li
     {        
        list-style: none;    

     }

.menu_flex li:last-child {
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;
        
      }
.menu_flex a 
     {
        color: black;
        text-decoration: none;
        display: block;
        padding: 0 10px;
        line-height: 40px;
        transition: all .5s;
        

     }
.menu_flex ul   
     {
        position: absolute;            
        display: none;
        text-align: left;
        

     }

.menu_flex li:hover ul
     {
         display: block;

         padding-bottom: 5px;
     }

.menu_contener
     {
         background-color: white;
         border-bottom: 5px solid #2aacc8
     }

.menu_flex li:hover
     {
         
        background-color: white;        
     }   
.menu_line
     {
         width: 200px;
         padding-left:  5px;
         padding-right: 5px;
     }
a:hover  
     {
         color: #2aacc8;
     }

.menu_border 
     {
        border-top: 5px solid transparent;
     }

.menu_border:hover   
     {
        border-top: 5px solid #2aacc8;
     }

.menu_drop 
     {
        
        background-color: white;
        border-bottom: 1px solid #eaeaea;
        
         
     }
.r90degre
     {
        
        writing-mode: vertical-lr;
        line-height: 20px;
        height: 10px;
        text-align: center;
     }

.flex-item 
    {
        display: flex;
        flex-direction: row;
 


              
    }

.item1 
    {

        width: 1000px;
        height: 100px;

        background-color: #e8ebf1;  
        
     
    }




.item2
    {


        padding-top: 20px;
        background-color: #81e4ed;          
    
    }

.item3
    {
        display: flex;
        margin: auto;
      


        
        text-align: left;
        padding: 5px;


  


  



        background-color: #e8ebf1;  
    }

.item3-column
    {
        flex-basis: 25%;
        padding: 15px;
    }

.item4
    {
        display: flex;
        flex-direction: column;
        
        height: 100px;
        align-self: stretch;
        text-align: left;
        background-color: white;  
    }




@media (max-width: 735px) 
    {


        .menu_flex
            {
                display: none;
                flex-direction: column;
                
            }            
        
        .nav {
                /*  ширна произвольная, не стесняйтесь экспериментировать */
                width: 320px;
                min-width: 320px;
                /* фиксируем и выставляем высоту панели на максимум */
                height: 100%;
                position: fixed;
                top: 10px;
                bottom: 0;
                margin: 0;
                /* сдвигаем (прячем) панель относительно левого края страницы */
                right: -320px;
                /* внутренние отступы */
                padding: 15px 20px;
                /* плавный переход смещения панели */
                -webkit-transition: left 0.3s;
                -moz-transition: left 0.3s;
                transition: left 0.3s;
                
                /* поверх других элементов */
                z-index: 2000;
            }
             
            /**
             * Кнопка переключения панели
             * тег <label>
             */
             
        .nav-toggle {
                /* абсолютно позиционируем */
                position: absolute;
                /* относительно левого края панели */
                right: 320px;
                /* отступ от верхнего края панели */
                top: 1em;
                /* внутренние отступы */
                padding: 0.5em;
                /* определяем цвет фона переключателя
                 * чаще вчего в соответствии с цветом фона панели
                */
                background: inherit;
                /* цвет текста */
                color: black;
                /* вид курсора */
                cursor: pointer;
                /* размер шрифта */
                font-size: 1.7em;
                line-height: 1;
                /* всегда поверх других элементов страницы */
                z-index: 2001;
                /* анимируем цвет текста при наведении */
                -webkit-transition: color .25s ease-in-out;
                -moz-transition: color .25s ease-in-out;
                transition: color .25s ease-in-out;
            }
             
            /* определяем текст кнопки 
             * символ Unicode (TRIGRAM FOR HEAVEN)
            */
             
        .nav-toggle:after {
                content: '\2630';
                text-decoration: none;
            }
             
            /* цвет текста при наведении */
             
        .nav-toggle:hover {
                color: #f4f4f4;
            }
             
            /**
             * Скрытый чекбокс (флажок)
             * невидим и недоступен :)
             * имя селектора атрибут флажка
             */
             
            [id='nav-toggle'] {
                position: absolute;
                display: none;
            }
             
            /**
             * изменение положения переключателя 
             * при просмотре на мобильных устройствах
             * когда навигация раскрыта, распологаем внутри панели
            */
             
            [id='nav-toggle']:checked ~ .nav > .nav-toggle {
                right: auto;
                left: 2px;
                top: 1em;
            }
             
            /**
             * Когда флажок установлен, открывается панель
             * используем псевдокласс:checked
             */
             
            [id='nav-toggle']:checked ~ .nav {
                left: 0;
                box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
                -moz-box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
                -webkit-box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
                overflow-y: auto;
            }
             
           
             
            /*
             * изменение символа переключателя,
             * привычный крестик (MULTIPLICATION X), 
             * вы можете испльзовать любой другой значок
            */
             
            [id='nav-toggle']:checked ~ .nav > .nav-toggle:after {
                content: '\2715';
            }
            .nav > ul {
                display: block;
                margin: 0;
                padding: 0;
                list-style: none;
            }
             
            .nav > ul > li {
                line-height: 2.5;
                opacity: 0;
                -webkit-transform: translateX(-50%);
                -moz-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                transform: translateX(-50%);
                -webkit-transition: opacity .5s .1s, -webkit-transform .5s .1s;
                -moz-transition: opacity .5s .1s, -moz-transform .5s .1s;
                -ms-transition: opacity .5s .1s, -ms-transform .5s .1s;
                transition: opacity .5s .1s, transform .5s .1s;
            }
             
            [id='nav-toggle']:checked ~ .nav > ul > li {
                opacity: 1;
                -webkit-transform: translateX(0);
                -moz-transform: translateX(0);
                -ms-transform: translateX(0);
                transform: translateX(0);
            }
    /* определяем интервалы появления пунктов меню */
 
.nav > ul > li:nth-child(2) {
    -webkit-transition: opacity .5s .2s, -webkit-transform .5s .2s;
    transition: opacity .5s .2s, transform .5s .2s;
}
 
.nav > ul > li:nth-child(3) {
    -webkit-transition: opacity .5s .3s, -webkit-transform .5s .3s;
    transition: opacity .5s .3s, transform .5s .3s;
}
 
.nav > ul > li:nth-child(4) {
    -webkit-transition: opacity .5s .4s, -webkit-transform .5s .4s;
    transition: opacity .5s .4s, transform .5s .4s;
}
 
.nav > ul > li:nth-child(5) {
    -webkit-transition: opacity .5s .5s, -webkit-transform .5s .5s;
    transition: opacity .5s .5s, transform .5s .5s;
}
 
.nav > ul > li:nth-child(6) {
    -webkit-transition: opacity .5s .6s, -webkit-transform .5s .6s;
    transition: opacity .5s .6s, transform .5s .6s;
}
 
.nav > ul > li:nth-child(7) {
    -webkit-transition: opacity .5s .7s, -webkit-transform .5s .7s;
    transition: opacity .5s .7s, transform .5s .7s;
}
 
 
/**
 * оформление ссылок пунктов меню
 */
 
.nav > ul > li > a {
    display: inline-block;
    position: relative;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    color: #dadada;
    width: 100%;
    text-decoration: none;
    /* плавный переход */
    -webkit-transition: color .5s ease, padding .5s ease;
    -moz-transition: color .5s ease, padding .5s ease;
    transition: color .5s ease, padding .5s ease;
}
 
/**
 * состояние ссылок меню при наведении
 */
 
.nav > ul > li > a:hover,
.nav > ul > li > a:focus {
    color: white;
    padding-left: 15px;
}
 
/**
 * линия подчеркивания ссылок меню
 */
 
.nav > ul > li > a:before {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    -webkit-transition: width 0s ease;
    transition: width 0s ease;
}
 
.nav > ul > li > a:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background: #3bc1a0;
    -webkit-transition: width .5s ease;
    transition: width .5s ease;
}
 
/**
 * анимируем линию подчеркивания 
 * ссылок при наведении
 */
 
.nav > ul > li > a:hover:before {
    width: 0%;
    background: #3bc1a0;
    -webkit-transition: width .5s ease;
    transition: width .5s ease;
}
 
.nav > ul > li > a:hover:after {
    width: 0%;
    background: transparent;
    -webkit-transition: width 0s ease;
    transition: width 0s ease;
}
    }

